<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
</head>
<body style="background-color: powderblue">
<h1>Dashboard</h1>
<form th:action="@{/dashboard}" method="post">
    <table style="width: 100%">
        <tr>
            <td>
                <button>Users</button>
            </td>
            <td>
                <button>Locations</button>
            </td>
            <td>
                <button>Rooms</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>